
body{
    margin: 0 100px;
    background-image: url(https://faith256-nalu.github.io/group-E-web-course-work/images/index/travel.jpg);
    
    
}

.nav{
    width: 100%;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight:600 ;
    font-family: sans-serif;
    color: beige;
}
.nav .logo b{
    color: #ff511c;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: beige;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

.nav ul .active{
    content:' ';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.signin{
    background: transparent;
    border: none;
}
.signup{
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    
}

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content .content-left{
    display: block;
    width: 100%;
}
.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 60px;
    color: #ff511c;
    font-family: sans-serif;
    margin-bottom: 30px;

}
.content .content-left .info p{
    font-size: 20px ;
    line-height: 2pc ;
    color: black;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left button{
    padding: 10px 23px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.content .content-right{
    display: block;
    width: 100%;
    
    
}
.content .circle-content-right img{
    width: 400px;
    height: 400px;
    position: relative;
    animation: rotate 60s linear infinite;
    border-radius: 50%;
    overflow: hidden;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }


}
.footer{
    background: #222;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}
.footer-container h3{
    margin-bottom: 10px;
}
.footer-conatiner a{
    color: #ccc;
    text-decoration: none;

}
.footer-conatiner a:hover{
    color: white;
}
