 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f7f7f7;
     color: #333;
 }

 .header {
     background-color: #d4e1e4ff;
     color: blue;
     text-align: center;
     padding: 40px 20px;
 }

 .team {
     display: flex;
     flex-wrap: wrap;
     gap: 11.5rem;
 }

 .team-member {
     flex: 1 1 200px;
     text-align: center;
 }

 .team-member img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     object-fit: cover;
 }

 .container {
     width: 90%;
     max-width: 1000px;
     margin: 40px auto;
     background: white;
     padding: 30px;
     border-radius: 8px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
 }

 h1,
 h2 {
     color: #660300ff;
 }

 p {
     line-height: 1.7;
 }

 ul {
     margin-left: 20px;
 }

 .footer {
     background-color: #004d66;
     color: white;
     text-align: center;
     padding: 15px 0;
     margin-top: 40px;
 }
 .timelyflex{
    display: flex;
    text-align: center;
    flex: 1 1 200px;
    flex-wrap: wrap;
 }