.main{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    padding: 20px;
    gap: 20px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: beige;
}
.nav .logo b{
    color: red;
}.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: beige;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

.nav ul .active {
    content: '';
    width: 50%;
    height: 3px;
    background-color: red;
    display: flex;
    position: relative;
    margin-left: 10px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.signin{
    background: transparent;
    border: none;
}
.signup{
    background-color: red;
    color: aliceblue;
    outline: none;
    border: none;
}
.one{
    border-radius: 5%;
}
.two{
    border-radius: 5%;
}
.three{
    border-radius: 5%;
}
.rounded-image {
  border-radius: 10px; 
}

h2, p, h1{
    color:white
}
.footer{
    background: #222;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}
.footer-container h3{
    margin-bottom: 10px;
}
.footer-conatiner a{
    color: #ccc;
    text-decoration: none;

}
.footer-conatiner a:hover{
    color: white;
}
