
body{
    margin: 0 100px;
    background-image:  url(https://faith256-nalu.github.io/group-E-web-course-work/images/index/travel.jpg);
    text-align: center;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: beige;
}
.nav .logo b{
    color: red;
}.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: beige;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

.nav ul .active {
    content: '';
    width: 50%;
    height: 3px;
    background-color: red;
    display: flex;
    position: relative;
    margin-left: 10px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.signin{
    background: transparent;
    border: none;
}
.signup{
    background-color: red;
    color: aliceblue;
    outline: none;
    border: none;
}
.card_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
     margin-top: 100px; 
     
}
.card{
    width: 30%;
    height: auto;
    background-color: bisque;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    
}

img{
    width: 100%;
    height: 40%;
    
}
.card_content{
    font-size: 15px;
    height: 40%;
}
p{
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width: 800px) {
  .card_container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    width: 60%;
  }
}
.footer{
    background: #222;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}
.footer-container h3{
    margin-bottom: 10px;
}
.footer-conatiner a{
    color: #ccc;
    text-decoration: none;

}
.footer-conatiner a:hover{
    color: white;
}

